---

---

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href={{ "assets/css/main.css" | relativeurl }}>
	<link rel="stylesheet" type="text/css" href={{ "assets/css/fonts.css" | relativeurl }}>
	<link rel="stylesheet" type="text/css" href={{ "assets/css/gallery.css" | relativeurl }}>
	<link rel="stylesheet" type="text/css" href={{ "assets/css/bio.css" | relativeurl }}>
	<!-- <script type="module" src={{"assets/js/fontchange.js" | relativeurl }}></script> -->
</head>
<body>
	<section id="bio">
		<h2>Hi, I'm <change></change>. I am a <change></change> coder, <br><change></change> designer, and <change></change> skateboarder.</h2><br><br>
	</section>

	<section class='gallery'>
		{{ page.content }}
	</section>

	<section>
		{% include extraprojects.html %}
	</section>

	<footer><a href={{"about.html" | relativeurl }}>About</a> <a href={{ "index.html" | relativeurl }}><div id="logo" ></div></a></footer>

	{% include namechange.html %}
</body>
</html>